<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{cms_layout_1.html}">
<head>
</head>
<body id="page-top">
<div class="content" layout:fragment="page_content">
    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-body">
                <form th:action="@{'/selfcare/schedule-call/index'}" method="get">
                    <div class="row">
                        <div class="col-3" th:with="options=${@thymeleaf.arrays('', 'All', 'Mobile', 'Mobile', 'Natcash', 'Natcash', 'FTTH/IPLL', 'FTTH/IPLL')}">
                            <div th:replace="component :: select-default-v2(#{supportType}, 'supportType', *{supportType}, false, false, ${options})"></div>
                        </div>
                        <div class="col-3" th:insert="component :: input-text-v3(#{isdn}, 'isdn', *{isdn}, 0, 50, false, false, false)"></div>
                        <div class="col-3" th:with="options=${@thymeleaf.arrays('', 'All', '0', 'New', '1', 'In-process', '2', 'Success', '3', 'Cancel')}">
                            <div th:replace="component :: select-default-v2(#{status}, 'status', *{status}, false, false, ${options})"></div>
                        </div>
                        <div class="col-3" th:insert="component :: input-date-ranger-v2(#{dateRanger}, 'dateRanger', *{dateRanger}, false, false, 'YYYY-MM-DD', 6, 0)"></div>

                        <div th:class="'col-12 text-center pt-3'" class="col-12 text-center pt-3">
                            <button type="submit" style="cursor: pointer;" class="btn btn-primary mx-2">
                                <i class="fas fa-search"></i><span class="px-2" th:text="#{search}"></span>
                            </button>
                            <button id="reset" type="button" value="Reset" style="cursor: pointer;" class="btn btn-primary mx-2">
                                <i class="fa fa-refresh"></i><span class="px-2" th:text="#{reset}"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-body table-responsive">
                <table class="table custom-table table-bordered">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col" th:text="#{no}" class="text-center"></th>
                        <th scope="col" th:text="#{supportType}" class="text-center"></th>
                        <th scope="col" th:text="#{startDate}" class="text-center"></th>
                        <th scope="col" th:text="#{endDate}" class="text-center"></th>
                        <th scope="col" th:text="#{isdn}" class="text-center"></th>
                        <th scope="col" th:text="#{language}" class="text-center"></th>
                        <th scope="col" th:text="#{status}" class="text-center"></th>
                        <th scope="col" th:text="#{note}" class="text-center"></th>
                        <th scope="col" th:text="#{processDate}" class="text-center"></th>
                        <th scope="col" th:text="#{successDate}" class="text-center"></th>
                        <th scope="col" th:text="#{cancelDate}" class="text-center"></th>
                        <th scope="col" th:text="#{createdAt}" class="text-center"></th>
                        <th scope="col" th:text="#{updatedAt}" class="text-center"></th>
                        <th scope="col" th:text="#{action}" class="text-center"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="model, item:${models}">
                        <td class="text-center" th:text="${item.index + pageSize*currentPage - (pageSize - 1)}">1</td>
                        <td th:text="${model.supportType}"></td>
                        <td th:text="${#dates.format(model.startDate, 'yyyy-MM-dd HH:mm:ss')}" style="white-space: nowrap;" class="text-center"></td>
                        <td th:text="${#dates.format(model.endDate, 'yyyy-MM-dd HH:mm:ss')}" style="white-space: nowrap;" class="text-center"></td>
                        <td th:text="${model.isdn}"></td>
                        <td th:text="${model.language}"></td>
                        <td>
                            <span th:if="${model.status == 0}" th:text="'New'"></span>
                            <span th:if="${model.status == 1}" th:text="'In-process'"></span>
                            <span th:if="${model.status == 2}" th:text="'Success'"></span>
                            <span th:if="${model.status == 3}" th:text="'Cancel'"></span>
                        </td>
                        <td th:text="${model.note}"></td>
                        <td th:text="${#dates.format(model.processDate, 'yyyy-MM-dd HH:mm:ss')}" style="white-space: nowrap;" class="text-center"></td>
                        <td th:text="${#dates.format(model.successDate, 'yyyy-MM-dd HH:mm:ss')}" style="white-space: nowrap;" class="text-center"></td>
                        <td th:text="${#dates.format(model.cancelDate, 'yyyy-MM-dd HH:mm:ss')}" style="white-space: nowrap;" class="text-center"></td>
                        <td th:text="${#dates.format(model.createdAt, 'yyyy-MM-dd HH:mm:ss')}" style="white-space: nowrap;" class="text-center"></td>
                        <td th:text="${#dates.format(model.updatedAt, 'yyyy-MM-dd HH:mm:ss')}" style="white-space: nowrap;" class="text-center"></td>
                        <td class="text-center" style="white-space: nowrap;">
                            <div class="d-flex justify-content-center align-items-center flex-wrap" style="gap: 5px;">
                                <a th:if="${model.status == 0}" th:attr="onclick=|updateStatus('${model.id}', '${currentPage}', '${pageSize}', 1)|" title="Process" class="btn"><i class="fas fa-microchip" style="color: #FFD43B;"></i></a>
                                <a th:if="${model.status == 1}" th:attr="onclick=|updateStatus('${model.id}', '${currentPage}', '${pageSize}', 2)|" title="Valid" class="btn"><i class="fas fa-vote-yea" style="color: #63E6BE;"></i></a>
                                <a th:if="${model.status != 2 && model.status != 3}" th:attr="onclick=|updateStatus('${model.id}', '${currentPage}', '${pageSize}', 3)|" title="Cancel" class="btn"><i class="fas fa-window-close" style="color: #f95a48;"></i></a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div th:with="paramNames=${@thymeleaf.arrays('supportType', supportType, 'isdn', isdn, 'status', status, 'dateRanger', dateRanger)}">
                    <div th:insert="common :: table-paging-hieutm(${currentPage}, ${pageSize}, ${totalPages}, ${totalItems}, ${paramNames})"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete-modal-sm">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" th:text="'Edit schedule call'"></h4>
                </div>
                <div class="modal-body">
                    <p>Status</p>
                    <div style="display: flex;">From: <div id="from" style="margin-left: 5px; margin-right: 15px; border: 1px solid black; border-radius: 5px; padding: 2px;"></div> To: <div id="to" style="margin-left: 5px; border: 1px solid black; border-radius: 5px; padding: 2px;"></div></div>
                    <div class="mt-3" th:insert="component :: textarea-v1(#{note}, 'note1', '', 4, 0, 255, false, false)" id="noteDiv"></div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal" style="background-color: #DFDFDF">Close</button>
                    <button id="apply" type="submit" class="btn" th:text="#{apply}" style="background-color: #FC6D05; color: #FFFFFF"></button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script layout:fragment="content_page_script" th:inline="javascript">
    function updateStatus(id, page, pageSize, status) {
        if(page == null || page == "" || page == "null")
            page = 1;
        if(pageSize == null || pageSize == "" || pageSize == "null")
            pageSize = 1;

        if(status == 2 || status == 3)
            $('#noteDiv').show();
        else
            $('#noteDiv').hide();

        if(status == 1) {
            $('#reasonCanNotContactSuccessDiv').show();
            $('#from').text('New');
            $('#to').text('Processing');
        } else if(status == 2) {
            $('#customerFeedbackDiv').show();
            $('#from').text('Processing');
            $('#to').text('Success');
        } else if(status == 3) {
            $('#to').text('Cancel');
        }

        $("#delete-modal-sm").modal('show');
        $("#apply").click(function() {
            let note = '';
            if(status == 2 || status == 3) {
                $('#noteDiv').show();
                note = $('#note1').val();
            }

            window.location.href = [[${@environment.getProperty('server.servlet.context-path')}]] + `/selfcare/schedule-call/update-status/${page}?id=${id}&pageSize=${pageSize}&status=${status}&note=`
                + encodeURIComponent(note);
            $('#delete-modal-sm').modal('hide');
        });
    }
</script>
</html>