<!DOCTYPE html>
<html lang="en" layout:decorate="~{cms_layout_1.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body id="page-top">
<div class="content" layout:fragment="page_content">
    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-body">
                <form id="form" th:action="@{/loyalty/voucher-group/form}" class="create-role" method="post"
                      th:object="${model}" enctype="multipart/form-data">
                    <div th:replace="component :: input-hidden('id', *{id})"></div>
                    <div class="row">
                        <div class="col-6 mt-3"
                             th:insert="component :: input-text-v3(#{name}, 'name', *{name}, 0, 255, true, false, false)"></div>
                        <div class="col-6 mt-3"
                             th:insert="component :: input-number-v2(#{point}, 'point', *{point}, 1, 1, 100000000, true, false)"></div>
                        <div class="col-6 mt-3"
                             th:insert="component :: input-number-v2(#{discountAmount}, 'amount', *{amount}, 1, 1, 100000000, true, false)"></div>
                        <div class="col-6 mt-3"
                             th:insert="component :: input-number-v2(#{quantityTotal}, 'quantityTotal', *{quantityTotal}, 1, 1, 100000000, true, false)"></div>
                        <div class="col-6 mt-3"
                             th:insert="buu-component :: input-date(#{startDate}, 'startDate', *{startDate}, null, null, true, false)"></div>
                        <div class="col-6 mt-3"
                             th:insert="buu-component :: input-date(#{endDate}, 'endDate', *{endDate}, null, null, true, false)"></div>
                        <div class="col-6 mt-3" th:with="options=${@thymeleaf.arrays('1', 'Active', '0', 'Inactive')}">
                            <div th:replace="component :: select-default-v2(#{status}, 'status', *{status == null ? 1 : status}, false, false, ${options})"></div>
                        </div>
                        <div class="col-6 mt-3" th:insert="component :: select2-v2('GET', #{topicId}, 'topicId', *{topicId}, '/loyalty/voucher-topic/ajax-search', 'Choose topic', *{topic?.name}, true, false, 0, null)"></div>
                        <div class="col-6 mt-3" th:insert="component :: select2-v2('GET', #{idMerchant}, 'idMerchant', *{idMerchant}, '/loyalty/merchant/ajax-search', 'Choose merchant', *{merchant?.name}, true, false, 0, null)"></div>
                        <th:block th:with="idArr2=${@thymeleaf.arrays('idMerchant')}">
                            <div class="col-6 mt-3" th:insert="component :: select2-multiple-search-for('GET', #{subMerchants}, 'subMerchantIds', *{subMerchantOptions}, '/loyalty/sub-merchant/ajax-search', 'Choose submerchant', true, false, 0, ${idArr2}, null)"></div>
                        </th:block>
                        <div class="col-6 mt-3"
                             th:insert="component :: textarea-v1(#{description}, 'description', *{description}, 4, 0, 1024, false, false)"></div>
                        <div class="col-6 mt-3">
                            <div style="max-width: 440px;"
                                 th:insert="component :: crop-image('thumbUpload1', #{imageUrl}, *{imageUrl}, 150, 330, 330, 330, 330, *{id == null ? true : false})"></div>
                        </div>
                    </div>
                    <div class="col d-flex align-items-end justify-content-center pt-3"
                         style="padding-left: 0 !important;">
            <span th:with="buttonText=*{id != null} ? #{update} : #{save}">
                <button id="submitButton" type="submit" class="btn btn-primary" th:text="${buttonText}"
                        style="width: 125px; border-radius: 3px;"></button>
            </span>
                        <a th:href="@{/loyalty/voucher-group/index}" class="btn btn-primary me-md-2 ml-3"
                           th:text="#{back}" style="width: 125px; left: 886px; top: 389px; border-radius: 3px;"></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

<script layout:fragment="content_page_script" th:inline="javascript">
    $(function() {
        $('#submitButton').click(function(e) {
            if(!validateDates())
                e.preventDefault();
            else if ($('#form')[0].checkValidity())
                $('#form').submit();
            else {
                e.preventDefault();
                $('#form')[0].reportValidity();
            }
        });
    });

    function validateDates() {
        const start = document.getElementById("startDate").value;
        const end = document.getElementById("endDate").value;

        if (start && end) {
            const startDate = new Date(start);
            const endDate = new Date(end);

            if (startDate >= endDate) {
                toastWarning("Start date must be less than expiration date!");
                return false;
            }
        }
        return true;
    }

    $('#idMerchant').on('select2:select', function (e) {
        $('#subMerchantIds').val(null).trigger('change');
    });
</script>
</html>