<!DOCTYPE html>
<html lang="en" layout:decorate="~{cms_layout_1.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Router</title>
    <!--  PAGE CSS SECTION  -->
    <!-- DataTables -->
    <link rel="stylesheet" th:href="@{/webjars/AdminLTE/3.2.0/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/AdminLTE/3.2.0/plugins/datatables-responsive/css/responsive.bootstrap4.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/AdminLTE/3.2.0/plugins/datatables-buttons/css/buttons.bootstrap4.min.css}">
    <!--  PAGE SCRIPT SECTION  -->
    <script th:src="@{/webjars/AdminLTE/3.2.0/plugins/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/webjars/AdminLTE/3.2.0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/webjars/AdminLTE/3.2.0/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{/webjars/AdminLTE/3.2.0/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
    <script th:src="@{/webjars/AdminLTE/3.2.0/plugins/datatables-buttons/js/dataTables.buttons.min.js}"></script>
    <script th:src="@{/webjars/AdminLTE/3.2.0/plugins/datatables-buttons/js/buttons.bootstrap4.min.js}"></script>
</head>
<body>
<!-- Main content -->
<div class="content" layout:fragment="page_content">
    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-body">
                <div class="d-flex flex-column rounded">
                    <form th:action="@{/sys/router/save}" method="post">
                        <div class="row mb-3">
                            <div class="col-6">
                                <label for="router" th:text="#{router}"></label>
                                <input type="text" id="router" name="router" class="form-control">
                            </div>

                            <div class="col-6">
                                <label for="router-des" th:text="#{router-des}"></label>
                                <input type="text" id="router-des" name="router-des" class="form-control">
                            </div>

                            <input type="text" id="id" name="id" class="form-control" hidden>
                            <input type="text" id="pageSizeInput" name="pageSize" th:value="${pageSize}?${pageSize}" class="form-control" hidden>
                            <div class="col-12 text-center pt-3">
                                <button type="submit" style="cursor: pointer;" class="btn btn-primary m-2">
                                    <span class="px-2" th:text="#{save}"></span>
                                </button>

                                <button id="reset" type="button" value="Reset" style="cursor: pointer;" class="btn btn-primary m-2">
                                    <i class="fa fa-refresh"></i><span class="px-2" th:text="#{reset}"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-body">
                <div class="table_router">
                    <table id="contentTableData" class="table table-hover table-bordered">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col" th:text="#{no}"></th>
                            <th scope="col" th:text="#{router}"></th>
                            <th scope="col" th:text="#{router-des}"></th>
                            <th scope="col" th:text="#{status}"></th>
                            <th scope="col" th:text="#{action}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="model,item : ${models}" th:ondblclick="return test('[[ ${model.id} ]]')">
                            <td  class="text-center"
                                 th:text="${item.index + pageSize*currentPage - (pageSize - 1)}">
                            </td>
                            <td th:text="${model.router_link}">None</td>
                            <td th:text="${model.description}">None</td>
                            <td style="display: none;" th:text="${model.id}"></td>
                            <td>
                                <span th:if="${model.active == false}" title="Block"><i class="fas fa-user-lock" style="color: red;"></i></span>
                                <span th:if="${model.active == true}" title="Active"><i class="far fa-check-circle" style="color: green;"></i></span>
                            </td>
                            <td>
                                <div class="d-flex flex-row justify-content-center">
                                    <a th:attr="onclick=|active1('${model.id}','${model.active}')|" style="cursor: pointer;" title="Status" class="btn">
                                        <span th:if="${model.active == true}" title="Active"><i class="fas fa-toggle-on fa-lg" style="color: #00709e;"></i></span>
                                        <span th:unless="${model.active == true}" title="Block"><i class="fas fa-toggle-off  fa-lg" style="color: gray;"></i></span>
                                    </a>
                                    <a th:attr="onclick=|delete1('${model.id}', '${currentPage}', '${pageSize}')|" style="cursor: pointer;" title="Delete" class="btn">
                                        <i class="fas fa-trash-alt" style="color: #ff0000;"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div th:replace="common :: table_paging2"> </div>
            </div>
        </div>
    </div>
    <!-- /.content -->
    <div class="modal fade" id="delete-modal-sm">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" th:text="#{action.todo}"></h4>
                    <!--                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">-->
                    <!--                        <span aria-hidden="true">&times;</span>-->
                    <!--                    </button>-->
                </div>
                <div class="modal-body">
                    <p th:text="#{apply.delete}"></p>
                </div>
                <div class="modal-footer justify-content-between">
                    <button id="apply" type="button" class="btn btn-primary" th:text="#{apply}"></button>
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
<!-- PAGE JAVASCRIPT CODE -->
<script layout:fragment="content_page_script">
    function test(routerId) {
    }
function linkpage(page) {
    console.log(page);
    var urlPage = window.location.href;
    var utlBase = '';
    var urlParram = '';
    let start = 0;
    for (let i = 0; i < urlPage.length - 1; i++) {
        if (urlPage.charAt(i) == '?') {
            start = i;
            break;
        }
    }
    if (start > 0) {
        utlBase = urlPage.substring(0, start);
        urlParram = urlPage.substring(start, urlPage.length);
    } else {
        utlBase = urlPage;
    }
    console.log(page);
    start = 0;
    for (let i = urlPage.length - 1; i > 0; i--) {
        if (urlPage.charAt(i) == '/') {
            start = i;
            break;
        }
    }
    if (isNaN(utlBase.substring(start + 1, utlBase.length))) {
        utlBase += '/' + page;
    } else {
        utlBase = utlBase.substring(0, start + 1) + page;
    }
    var pageSize = document.getElementById('pageSizeInput').value;
    var urlSearchParams = new URLSearchParams(urlPage);
    // Thay đổi giá trị của tham số pageSize
    urlSearchParams.set('pageSize', pageSize);
    var dem = 0;
    urlParram = '';
    urlSearchParams.forEach(function(value, key) {
        if (dem == 1) {
            urlParram += '?' + key + '=' + value;
        } else if (dem > 1) {
            urlParram += '&' + key + '=' + value;
        }
        dem++;
    });
    console.log(urlParram);
    var newUrl = utlBase + urlParram;
    window.location.href = newUrl;
}
      var inputRouter = document.querySelector('#router');
      var inputRouterDes = document.querySelector('#router-des');
      var inputID = document.querySelector('#id');

      var buuList = document.querySelectorAll('table.table tbody tr');
      buuList.forEach(function(buuListItem) {
        let buuListBtn = buuListItem.querySelectorAll('td:last-child a');
        buuListBtn.forEach(function(buuListBtnItem) {
            buuListBtnItem.addEventListener('click', (e) => {
                e.stopPropagation();
            })
        })

        buuListItem.addEventListener('click', () => {
            if(buuListItem.style.backgroundColor == 'rgba(0, 112, 158, 0.5)') {
                buuListItem.style = '';
                inputRouter.value = '';
                inputRouterDes.value = '';
                inputID.value = '';
            }
            else {
                buuList.forEach(function(buuListItem) {
                    if(buuListItem.style.backgroundColor == 'rgba(0, 112, 158, 0.5)') {
                        buuListItem.style = '';
                    }
                })
                buuListItem.style.backgroundColor = 'rgba(0, 112, 158, 0.5)';

                let buuListColumn = buuListItem.querySelectorAll('td');
                inputRouter.value = buuListColumn[1].innerText;
                inputRouterDes.value = buuListColumn[2].innerText;
                inputID.value = buuListColumn[3].innerText;
            }
        })
      });
      function delete1(id, page, pageSize) {
    if(page == null || page == "" || page == "null")
        page = 1;
    if(pageSize == null || pageSize == "" || pageSize == "null")
        pageSize = 10;
    $("#delete-modal-sm").modal('show');
    $("#apply").click(function() {
        window.location.href = `[[${@environment.getProperty('server.servlet.context-path')}]]/sys/router/delete/${page}?id=${id}&pageSize=${pageSize}`;
        $('#delete-modal-sm').modal('hide');
    });
    }
</script>
</body>
</html>