<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{cms_layout_1.html}">
<head>
</head>
<body id="page-top">
<div class="content" layout:fragment="page_content">
    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-body">
                <form id="form-search" th:action="@{'/selfcare/natcash-history/payment-data-vas'}" method="get">
                    <div class="row">
                        <div class="col-3" th:insert="component :: input-text-v3(#{isdn}, 'isdn', *{isdn}, 0, 255, false, false, false)"></div>
                        <div class="col-3" th:insert="component :: input-text-v3(#{packageCode}, 'packageCode', *{packageCode}, 0, 50, false, false, false)"></div>
                        <div class="col-3" th:insert="component :: input-text-v3(#{errorCode}, 'errorCode', *{errorCode}, 0, 255, false, false, false)"></div>
                        <div class="col-3" th:insert="component :: input-text-v3(#{orderNumber}, 'orderNumber', *{orderNumber}, 0, 255, false, false, false)"></div>
                        <div class="col-3 mt-3" th:insert="component :: input-date-ranger-v2(#{dateRanger}, 'dateRanger', *{dateRanger}, false, false, 'YYYY-MM-DD', 6, 0)"></div>

                        <div th:class="'col-12 text-center pt-3'" class="col-12 text-center pt-3">
                            <button type="submit" style="cursor: pointer;" class="btn btn-primary mx-2">
                                <i class="fas fa-search"></i><span class="px-2" th:text="#{search}"></span>
                            </button>
                            <button id="reset" type="button" value="Reset" style="cursor: pointer;" class="btn btn-primary mx-2">
                                <i class="fa fa-refresh"></i><span class="px-2" th:text="#{reset}"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-body table-responsive">
                <table class="table custom-table table-bordered">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col" th:text="#{no}" class="text-center"></th>
                        <th scope="col" th:text="#{isdn}" class="text-center"></th>
                        <th scope="col" th:text="#{packageCode}" class="text-center"></th>
                        <th scope="col" th:text="#{money}" class="text-center"></th>
                        <th scope="col" th:text="#{errorCode}" class="text-center"></th>
                        <th scope="col" th:text="#{orderNumber}" class="text-center"></th>
                        <th scope="col" th:text="#{userMsg}" class="text-center"></th>
                        <th scope="col" th:text="#{createdAt}" class="text-center"></th>
                        <th scope="col" th:text="#{action}" class="text-center"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="model, item:${models}">
                        <td class="text-center" th:text="${item.index + pageSize*currentPage - (pageSize - 1)}">1</td>
                        <td th:text="${model.isdn}"></td>
                        <td th:text="${model.packageCode}"></td>
                        <td th:text="${model.money}"></td>
                        <td th:text="${model.errorCode}"></td>
                        <td th:text="${model.orderNumber}"></td>
                        <td th:text="${model.userMsg}"></td>
                        <td th:text="${#dates.format(model.createdAt, 'yyyy-MM-dd HH:mm:ss')}" style="white-space: nowrap;" class="text-center"></td>
                        <td class="text-center" style="white-space: nowrap;">
                            <div class="d-flex justify-content-center align-items-center flex-wrap" style="gap: 5px;">
                                <a th:attr="onclick=|refund('${model.orderNumber}', '${currentPage}', '${pageSize}')|" title="Refund" class="btn"><i class="fas fa-recycle" style="color: #74C0FC;"></i></a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div th:with="paramNames=${@thymeleaf.arrays('isdn', isdn, 'packageCode', packageCode, 'errorCode', errorCode, 'orderNumber', orderNumber, 'dateRanger', dateRanger)}">
                    <div th:insert="common :: table-paging-hieutm(${currentPage}, ${pageSize}, ${totalPages}, ${totalItems}, ${paramNames})"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete-modal-sm">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" th:text="#{action.todo}"></h4>
                </div>
                <div class="modal-body">
                    <p th:text="'Refund'"></p>
                </div>
                <div class="modal-footer justify-content-between">
                    <button id="apply" type="button" class="btn btn-primary" th:text="#{apply}"></button>
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script layout:fragment="content_page_script" th:inline="javascript">
    function refund(orderNumber, page, pageSize) {
        if(page == null || page == "" || page == "null")
            page = 1;
        $("#delete-modal-sm").modal('show');
        $("#apply").click(function() {
            window.location.href = [[${@environment.getProperty('server.servlet.context-path')}]] + `/selfcare/natcash-history/refund/${page}?orderNumber=${orderNumber}&pageSize=${pageSize}`;
            $('#delete-modal-sm').modal('hide');
        });
    }
</script>
</html>