<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{cms_layout_1.html}"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <link th:href="@{/webjars/AdminLTE/3.2.0/plugins/daterangepicker/daterangepicker.css}" rel="stylesheet">
    <style>
        /*css cho select2 resposive*/
        span.select2-container {
            width: unset !important;
        }
    </style>
    <script th:src="@{/webjars/AdminLTE/3.2.0/plugins/daterangepicker/daterangepicker.js}"></script>
</head>

<body id="page-top">
<div class="router_inner" layout:fragment="page_content">
    <!--Popup Start-->
    <div id="popup-delete" class="modal fade">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="text-center">
                    <p th:text="#{popup.delete.artist}"></p>
                    <button class="btn btn-primary m-2" id="confirmButton" th:text="#{apply}">Apply</button>
                    <button class="btn btn-primary m-2" id="close" th:text="#{close}">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="popup2" class="modal fade">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="popup" style="text-align: center">
                    <p id="text_popup_song_active"></p>
                    <button class="btn btn-primary m-2" id="buttonApply" th:text="#{apply}">Apply</button>
                    <button class="btn btn-primary m-2" id="buttonClose" th:text="#{close}">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="popup6" class="modal fade">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="popup" style="text-align: center">
                    <p th:text="#{title.delete.success}"></p>
                    <button class="btn btn-primary m-2" id="close_success" th:text="#{close}">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="popup7" class="modal fade">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="popup" style="text-align: center">
                    <p th:text="#{title.update.success }"></p>
                    <button class="btn btn-primary m-2" id="close_update_success" th:text="#{close}">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<!-- REQUIRED SCRIPTS -->

<script>
    //CUSTOM SCRIPT
    $(document).ready(function() {
        $("#pageSize").change(function(e) {
            var pageSize = e.target.value;
            $("#pageSizeInput").val(pageSize);
        });

        // Format number
        // Lấy tất cả các phần tử có class "formatted-number"
        var formattedElements = document.querySelectorAll(".formatted-number");
        // Hàm để định dạng số với dấu phẩy ngăn cách
        function numberWithCommas(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }
        // Lặp qua các phần tử và áp dụng định dạng số
        formattedElements.forEach(function(element) {
            var originalNumber = parseInt(element.textContent); // Lấy giá trị số ban đầu
            var formattedNumber = numberWithCommas(originalNumber); // Định dạng số
            element.textContent = formattedNumber; // Gán giá trị định dạng vào phần tử
        });
    });

    function remove(idArtist, idSong){
        $("#popup-delete").modal('show');

        // Ẩn popup khi click vào nút xác nhận
        $("#confirmButton").click(function() {
            $("#popup-delete").modal('hide');
            window.location.href = '[[@{/music/artist/song/remove?idArtist=}]]' + idArtist + "&idSong=" + idSong;
        });

        // Ẩn popup khi click vào nút đóng
        $("#close").click(function() {
            $("#popup-delete").modal('hide');
        });
    }

    function readyPop(publishedTimeValue){
        $(document).ready(function() {
            $('#countryCode').select2({
                ajax: {
                    type: 'GET',
                    url: '[[@{/music/song/countryCode-ajax-search}]]',
                    dataType: 'json',
                    delay: 250,
                    data: function(params) {
                        return {
                            input_: params.term
                        };
                    },
                    processResults: function(data) {
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
                placeholder: `[[#{select2.countryCode}]]`,
                minimumInputLength: 0,
                allowClear: true
            });

            $('#authorId').select2({
                ajax: {
                    type: 'GET',
                    url: '[[@{/music/song/authorId-ajax-search}]]',
                    dataType: 'json',
                    delay: 250,
                    data: function(params) {
                        return {
                            input_: params.term
                        };
                    },
                    processResults: function(data) {
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
                placeholder: `[[#{select2.authorId}]]`,
                minimumInputLength: 0,
                allowClear: true
            });

            $('#categoryId').select2({
                ajax: {
                    type: 'GET',
                    url: '[[@{/music/song/ajax-search-category}]]',
                    dataType: 'json',
                    delay: 250,
                    data: function(params) {
                        return {
                            input_: params.term
                        };
                    },
                    processResults: function(data) {
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
                placeholder: `[[#{select2.categoryId}]]`,
                minimumInputLength: 0,
                allowClear: true,
            });

            var reset = document.querySelector('#reset')
            reset.onclick = function(e){
                e.preventDefault();
                var selectCountryCodeElement = document.querySelector('#countryCode');
                while (selectCountryCodeElement.firstChild) {
                    selectCountryCodeElement.removeChild(selectCountryCodeElement.firstChild);
                }

                var selectAuthorIdElement = document.querySelector('#authorId');
                while (selectAuthorIdElement.firstChild) {
                    selectAuthorIdElement.removeChild(selectAuthorIdElement.firstChild);
                }

                var selectCategoryIdElement = document.querySelector('#categoryId');
                while (selectCategoryIdElement.firstChild) {
                    selectCategoryIdElement.removeChild(selectCategoryIdElement.firstChild);
                }
                document.querySelector('#songName').value = '';
                document.querySelector('#reservation').value = '';
            }

            if (publishedTimeValue == null || publishedTimeValue == '') {
                $('#reservation').val('');
            } else {
                $('#reservation').val(publishedTimeValue);
            }

            $("#form-search-song-artist").submit(function (event) {
                event.preventDefault();
                $("#popup-addSong").modal('hide');
                var formData = $("#form-search-song-artist").serialize();
                $.ajax({
                    type: "GET",
                    url: "[[@{/music/artist/song/index}]]",
                    data: formData,
                    success: function (data) {
                        $("#popup-addSong").replaceWith(data);
                        $("#popup-addSong").modal('show');
                        console.log("Date: ", formData);
                        var formDataArray = formData.split('&');
                        var publishedTimeValue = '';
                        for (var i = 0; i < formDataArray.length; i++) {
                            var keyValue = formDataArray[i].split('=');
                            if (keyValue[0] === 'publishedTime') {
                                publishedTimeValue = decodeURIComponent(keyValue[1]);
                                break;
                            }
                        }
                        readyPop(publishedTimeValue);
                    },
                    error: function (error) {
                        console.error(error);
                    }
                });
            });
        });

        var tabPressed = false; // Biến để kiểm tra xem bạn đã bấm tab ra ngoài chưa
        $('#reservation').daterangepicker()
            .on('apply.daterangepicker', function(ev, picker) {
                var startDate = picker.startDate.format('MM/DD/yyyy');
                var endDate = picker.endDate.format('MM/DD/yyyy');

                // Gán giá trị vào trường nhập liệu sau khi người dùng đã chọn phạm vi ngày
                $('#reservation').val(startDate + ' - ' + endDate);
            })
            .on('cancel.daterangepicker', function() {
                $('#reservation').val('');
            });

        $('#reservation').on('keydown', function(e) {
            if (e.key === 'Tab') {
                tabPressed = true;
            }
        });

        $('#reservation').on('focusout', function() {
            if (!tabPressed) {
                $('#reservation').val('');
            }
            tabPressed = false;
        });
    }

    function addSong(){
        $.get("[[@{/music/artist/song/index}]]",
            function(data) {
                $("#popup-addSong").replaceWith(data);
                $("#popup-addSong").modal('show');

                var publishedTimeValue = '';
                readyPop(publishedTimeValue);
            }
        );

        // Ẩn popup khi click vào nút xác nhận
        $("#confirm-addSong").click(function() {
            $("#popup-addSong").modal('hide');
            window.location.href = '[[@{/music/song/addSong?id=${id}}]]';
        });
    }

    function searchSong(url){
        // $("#popup-addSong").modal('hide');
        var formData = $("#form-search-song-artist").serialize();
        $.ajax({
            type: "GET",
            url: url,
            data: formData,
            success: function (data) {
                $("#popup-addSong").replaceWith(data);
                $("#popup-addSong").modal('show');

                console.log("Date: ", formData);
                var formDataArray = formData.split('&');
                var publishedTimeValue = '';

                for (var i = 0; i < formDataArray.length; i++) {
                    var keyValue = formDataArray[i].split('=');
                    if (keyValue[0] === 'publishedTime') {
                        publishedTimeValue = decodeURIComponent(keyValue[1]);
                        break;
                    }
                }
                readyPop(publishedTimeValue);
            },
            error: function (error) {
                console.error(error);
            }
        });
    }

    function linkpage1(page){
        var urlPage0 = window.location.origin;
        var urlPage = urlPage0 + "[[@{/music/artist/song/search}]]";
        var utlBase = '';
        var urlParram = '';
        let start = 0;
        for(let i = 0; i < urlPage.length-1; i++){
            if(urlPage.charAt(i) =='?'){
                start = i;
                break;
            }
        }
        if(start > 0){
            utlBase = urlPage.substring(0,start);
            urlParram = urlPage.substring(start,urlPage.length);
        }else {
            utlBase = urlPage;
        }
        console.log(page);
        start = 0;
        for(let i = urlPage.length-1; i > 0; i--){
            if(urlPage.charAt(i) =='/'){
                start = i;
                break;
            }
        }
        if(isNaN(utlBase.substring(start+1,utlBase.length))){
            utlBase += '/'+ page;
        }
        else{
            utlBase = utlBase.substring(0, start + 1)+ page;
        }
        // var pageSize = document.getElementById('pageSizeInput').value;
        // var urlSearchParams = new URLSearchParams(urlPage);
        // // Thay đổi giá trị của tham số pageSize
        // urlSearchParams.set('pageSize', pageSize);
        // urlSearchParams.set('songName', `[[${songName}]]`);
        // urlSearchParams.set('countryCode', `[[${countryCode}]]`);
        // urlSearchParams.set('authorId', `[[${authorId}]]`);
        // urlSearchParams.set('categoryId', `[[${categoryId}]]`);
        // urlSearchParams.set('publishedTime', `[[${publishedTime}]]`);
        // var dem = 0;
        // urlParram = '';
        // urlSearchParams.forEach(function(value, key) {
        //     if(dem==1){
        //         urlParram += '?'+key+'='+value;
        //     }
        //     else if(dem>1){
        //         urlParram += '&'+key+'='+value;
        //     }
        //     dem++;
        // });
        console.log(utlBase);
        // console.log(urlParram);

        var newUrl = utlBase + "?";
        console.log(newUrl);
        searchSong(newUrl);
    }

    function linkpage(page){
        console.log(page);
        var urlPage = window.location.href;
        var utlBase = '';
        var urlParram = '';
        let start = 0;
        for(let i = 0; i < urlPage.length-1; i++){
            if(urlPage.charAt(i) =='?'){
                start = i;
                break;
            }
        }
        if(start > 0){
            utlBase = urlPage.substring(0,start);
            urlParram = urlPage.substring(start,urlPage.length);
        }else {
            utlBase = urlPage;
        }
        console.log(page);
        start = 0;
        for(let i = urlPage.length-1; i > 0; i--){
            if(urlPage.charAt(i) =='/'){
                start = i;
                break;
            }
        }
        if(isNaN(utlBase.substring(start+1,utlBase.length))){
            utlBase += '/'+ page;
        }
        else{
            utlBase = utlBase.substring(0, start + 1)+ page;
        }
        var pageSize = document.getElementById('pageSizeInput').value;
        var urlSearchParams = new URLSearchParams(urlPage);
        // Thay đổi giá trị của tham số pageSize
        urlSearchParams.set('pageSize', pageSize);
        urlSearchParams.set('countryCode', `[[${countryCode}]]`);
        urlSearchParams.set('aliasName', `[[${aliasName}]]`);
        urlSearchParams.set('realName', `[[${realName}]]`);
        urlSearchParams.set('isActive', `[[${isActive}]]`);
        var dem = 0;
        urlParram = '';
        urlSearchParams.forEach(function(value, key) {
            if(dem==1){
                urlParram += '?'+key+'='+value;
            }
            else if(dem>1){
                urlParram += '&'+key+'='+value;
            }
            dem++;
        });
        console.log(urlParram);
        var newUrl = utlBase + urlParram;
        window.location.href = newUrl;
    }

    function handleAction(Id, popupId, buttonCloseId, buttonApplyId, url, actionMessage, textPop) {
        const id = $("#" + Id);
        const popup = $("#" + popupId);
        const buttonClose = $("#" + buttonCloseId);
        const buttonApply = $("#" + buttonApplyId);

        $('#text_popup_song_active').text(textPop);

        var Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 10000
        });

        console.log("123");

        // Xử lý sự kiện khi click nút "Action"
        // id.on('click', function () {
        // Kiểm tra nếu ít nhất một hàng được chọn
        const selectedItems = $('.select-item:checked');
        if (selectedItems.length > 0) {
            // Hiển thị popup
            popup.modal('show');
        } else {
            alert(actionMessage);
        }
        // });

        // Xử lý sự kiện khi click nút "Close" trên popup
        buttonClose.on('click', function () {
            // Đóng popup
            popup.modal('hide');
        });

        // Xử lý sự kiện khi click nút "Apply" trên popup
        buttonApply.on('click', function () {
            // Tạo một mảng lưu trữ các giá trị được chọn
            const selectedValues = $('.select-item:checked').map(function() {
                return parseInt($(this).val());
            }).get();

            // Tạo URL dựa trên URL hiện tại của trang web và đường dẫn còn lại
            const currentURL = window.location.href;
            const baseURL = currentURL.substr(0, currentURL.indexOf("/music/artist/"));
            const idArtist = $("#idArtist").val();
            console.log(idArtist);
            const actionURL = baseURL + url + "/" + idArtist;

            // Thực hiện AJAX để thực hiện hành động
            $.ajax({
                url: actionURL,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(selectedValues),
                success: function() {
                    popup.modal('hide');
                    // Hiển thị thông báo hoặc thực hiện hành động khác nếu cần
                    Toast.fire({
                        icon: 'success',
                        text: 'your success content',
                        allowOutsideClick: true,
                        timerProgressBar: true,
                    })
                    window.location.reload();
                },
                error: function() {
                    $('.swalDefaultError').click(function() {
                        Toast.fire({
                            icon: 'error',
                            text: 'your error content'
                        })
                    });
                    throw new Error('Error sending action request.');
                }
            });
        });
    }
</script>
</body>
</html>