<th:block th:fragment="render-staff" xmlns:th="http://www.thymeleaf.org">
    <div class="table-responsive mb-2 mt-3" th:with="checkAllow=${(status == 2 || status == 4) && !@permissionVoucher.checkAdminVoucher()}">
        <table class="table table-sm custom-table table-bordered table-hover text-center" style="table-layout: auto; width: 100%; font-weight: 600;">
            <thead class="thead-light align-content-center">
            <tr>
                <th class="align-content-center" style="width: 0%" th:text="#{no}"></th>
                <th class="align-content-center" style="width: 0%" th:text="#{code}">Code</th>
                <th class="align-content-center" style="width: 1%" th:text="#{name}">Name</th>
                <th class="align-content-center" style="width: 1%" th:text="#{phonenumber}">Phone number</th>
                <th style="width: 0%" th:unless="${@permissionVoucher.checkAdminVoucher()}"></th>
            </tr>
            </thead>
            <tbody>
            <tr onclick="activeRowTable(event)" th:each="model,item : ${models}" th:attr="data-id=${model.id}">
                <td  class="text-center"
                     th:text="${item.index + pageSize * pageNo - (pageSize - 1)}">
                </td>
                <td th:text="${model.code}"></td>
                <td style="text-align: start;" th:text="${model.name}"></td>
                <td style="text-align: start;" th:text="${model.phoneNumber}"></td>
                <td th:unless="${@permissionVoucher.checkAdminVoucher()}">
                    <div class="d-flex">
                        <button th:if="${status == 2 || status == 4}" th:attr="onclick=|editStaff(${model.id})|" class="btn btn-sm" title="Edit">
                            <i class="far fa-edit" style="color: #00709e;"></i>
                        </button>
                        <button th:if="${status == 2 || status == 4}" th:attr="onclick=|deleteStaff(${model.id})|" title="Delete" class="btn btn-sm">
                            <i class="fas fa-trash-alt" style="color: #ff0000;"></i>
                        </button>
                    </div>
                </td>
            </tr>
            <tr th:if="${models.size() == 0}">
                <td colspan="100">No result</td>
            </tr>
            <tr th:if="${checkAllow}">
                <td colspan="100">
                    <div class="d-flex">
                        <input hidden id="sIdSubMerchant" name="sIdSubMerchant" th:value="${idSubMerchant}"/>
                        <input hidden id="sNameSubMerchant" name="sNameSubMerchant" th:value="${nameSubMerchant}"/>
                        <input hidden id="sId" name="sId" value=""/>
                        <div class="mr-1">
                            <input name="sName" id="sName" style="height: 31px;" type="text" class="form-control" th:placeholder="#{name}">
                            <p id="errorSName" class="text-danger m-0" style="text-align: start;"></p>
                        </div>
                        <div class="mx-1">
                            <input name="sPhoneNumber" id="sPhoneNumber" style="height: 31px;" type="text" class="form-control" th:placeholder="#{phonenumber}">
                            <p id="errorSPhoneNumber" class="text-danger m-0" style="text-align: start;"></p>
                        </div>
                        <button onclick="saveFormStaff();" id="sBtnCreate" class="btn btn-primary mx-1" style="width: 32px; height: 31px;">
                            <i class="fas fa-plus"></i>
                        </button>
                        <button onclick="saveFormStaff();" id="sBtnSave" class="btn btn-primary mx-1" style="width: 32px; height: 31px; display: none;">
                            <i class="fa-regular fa-floppy-disk"></i>
                        </button>
                        <button onclick="handleSCancel();" id="sBtnCancel" class="btn btn-outline-danger mx-1" style="width: 32px; height: 31px; border-color: #dc3545; display: none;">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="d-flex justify-content-between">
        <div class="d-flex font-weight-bold align-items-center">
            <p class="m-0">Show </p>
            <select id="buuPageSizeStaff" class="buu_page_size mx-2 font-weight-bold">
                <option value="10" selected th:selected="${pageSize == 10}">10</option>
                <option value="20" th:selected="${pageSize == 20}">20</option>
                <option value="30" th:selected="${pageSize == 30}">30</option>
                <option value="40" th:selected="${pageSize == 40}">40</option>
                <option value="50" th:selected="${pageSize == 50}">50</option>
            </select>
            <input type="hidden" name="pageSize" value="10" />
            <p class="m-0">Elements</p>
        </div>
        <ul id="buuPaginationStaff" class="pagination buu-pagination"></ul>
    </div>
    <script th:inline="javascript">
        $(() => {
            let selectPageSize = document.querySelector('#buuPageSizeStaff');
            let inputPageSize = document.querySelector('#buuPageSizeStaff + input[name="pageSize"]');
            if(inputPageSize) inputPageSize.value = [[${pageSize}]];

            function formatPageNumberStaff() {
                $('#buuPaginationStaff').find('a, span').each(function() {
                    let pageNumber = parseInt($(this).text());

                    if (!isNaN(pageNumber)) {
                        $(this).text(pageNumber.toLocaleString().replaceAll('.', ','));
                    }
                });
            }

            selectPageSize.addEventListener("change", function (e) {
                if(inputPageSize) inputPageSize.value = this.value;
                $('#buuPaginationStaff').pagination('selectPage', 1);
            })

            $('#buuPaginationStaff').pagination({
                items: [[${totalPage}]],
                itemOnPage: [[${pageSize}]],
                currentPage: [[${pageNo}]],
                cssStyle: '',
                prevText: '<',
                nextText: '>',
                onInit: function () {
                    // lúc load trang hàm này sẽ được gọi
                    formatPageNumberStaff();
                },
                onPageClick: function (page, e) {
                    formatPageNumberStaff();

                    // Lúc chuyển trang hàm này sẽ được gọi
                    searchStaff(null, false, [[${idSubMerchant}]], [[${nameSubMerchant}]]);
                }
            });
        })
    </script>
</th:block>